html
  head

    meta charset="utf-8" 
    meta content="IE=edge" http-equiv="X-UA-Compatible" 
    title Widget
    meta content="initial-scale=1" name="viewport" 
    link href="css/normalize.css" rel="stylesheet" 
    link href="css/main.css" rel="stylesheet" 

  body

    .widget
      .tabs
        a.active href="#users"
          | Users
        a href="#statistics"
          | Statistics
      .content
        .users-content.active
          #container.nano
            .viewport.nano-content
              table
                tr
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Русский"
                      h3
                        a href="#" Анжелика
                      p
                        | Очень длинное преложение должно обрезаться              
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Немецкий"
                      h3
                        a href="#" Анастасия
                      p
                        | Очень длинное преложение должно обрезаться
                tr
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Французский"
                      h3
                        a href="#" Евгения
                      p
                        | Очень длинное преложение должно обрезаться              
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Английский"
                      h3
                        a href="#" Анна
                      p
                        | Очень длинное преложение должно обрезаться
                tr
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Английский"
                      h3
                        a href="#" Екатерина
                      p
                        | Очень длинное преложение должно обрезаться              
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Русский"
                      h3
                        a href="#" Ольга
                      p
                        | Очень длинное преложение должно обрезаться
                tr
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Русский"
                      h3
                        a href="#" Ирина
                      p
                        | Очень длинное преложение должно обрезаться              
                  td
                    img src="http://placehold.it/50x50"
                    .details data-language="Русский"
                      h3
                        a href="#" Марина
                      p
                        | Очень длинное преложение должно обрезаться
                tr
                  td
                    img src="http://placehold.it/50x50"
                    .details
                      h3
                        a href="#" Анжелика
                      p
                        | Очень длинное преложение должно обрезаться              
                  td
                    img src="http://placehold.it/50x50"
                    .details
                      h3
                        a href="#" Анжелика
                      p
                        | Очень длинное преложение должно обрезаться
                tr
                  td
                    img src="http://placehold.it/50x50"
                    .details
                      h3
                        a href="#" Анжелика
                      p
                        | Очень длинное преложение должно обрезаться              
                  td
                    img src="http://placehold.it/50x50"
                    .details
                      h3
                        a href="#" Анжелика
                      p
                        | Очень длинное преложение должно обрезаться
          .controls
            .dropdown
              .dropdown-toggler
                span.val.noSelect Русский
              .dropdown-content
                a.variant href="#"
                  | Русский
                a.variant href="#"
                  | Английский
                a.variant href="#"
                  | Французский
                a.variant href="#"
                  | Немецкий
            .checkbox
              input#check type="checkbox" name="check" value="check"
              label for="check" 
                | OK
        .statistics-content
          | here comes some user statistics

    a href="./index_angular.html" 
      | &nbsp; AngularJS version

    script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    script src="js/vendor/jquery.nanoscroller.min.js"
    script src="js/main.js"